<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bluetooth Options</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div [hidden]="!isScanning">Scanning... <ion-spinner></ion-spinner></div>
    <div [hidden]="isScanning || !bleEnabled"><button (click)="scanDevices()" ion-button>Scan for devices</button></div>
    <ion-list no-lines>
        <ion-item-sliding *ngFor="let device of devices" #slidingItem>
        <button ion-item (click)="deviceSelected(device)"><span *ngIf="device.name">{{ device.name }}</span><span *ngIf="!device.name">{{ device.id }}</span></button>
        </ion-item-sliding>
    </ion-list>
</ion-content>
